# ansys-workbench-core @ git+https://github.com/ansys/pyworkbench
ansys-fluent-core==0.26.1
ansys-fluent-visualization==0.14.0
pyaedt == 0.10.0
ansys-mechanical-core==0.11.6
pyvista[jupyter]
matplotlib==3.9.0
